# Node.js & Dependências
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Frontend (Vite Build)
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Variáveis de Ambiente
.env
.env.*
!.env.example

# Bloqueia Artefatos e Zips (A sua Lambda)
*.zip

# Bloqueia arquivos locais do Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Bloqueia lixos do Python
__pycache__/
*.py[cod]
*$py.class

# IDEs e Editores de Código
.vscode/
.idea/
*.swp
.DS_Store